<style>
	
	.nopadding {
		padding: 0 !important;
		margin: 0 !important;
	}

	.editableInput[type="text"] {
		border: none;
	}

	.selectpicker {
		margin: 10px 0;
	}

</style>

<div class="col-md-4">
				
	<form action="{{ path_for('class.addDay') }}" method="POST">
		<div class="panel panel-default">

			<div class="panel-heading">
				<b>New day</b>
				<div class="pull-right">
					<a id="asd" class="btn btn-default datepicker">
						<span class="glyphicon glyphicon-calendar"></span>
						<input type="hidden" name="consignDate" id="consignDate">
					</a>
					<span id="consignDateInfo" style="margin-left:10px">
						07 Jun 2016
					</span>
				</div>
				<div style="clear:both"></div>
			</div>

			<div class="panel-body">

				<div class="list-group">
					
					<!--<a class="list-group-item">

						<span class="pull-right close removeItem" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</span>

						<select name="subjectName[]" class="selectpicker">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</select>

						<textarea name="subjectHomework[]" class="form-control"></textarea>
					</a>-->

					<a id="addItemList" class="list-group-item" style="cursor:pointer">
						<h1 class="list-group-item-heading text-center"><span class="glyphicon glyphicon-plus"></span></h1>
					</a>
				</div>

				<input type="hidden" name="classTag" value="{{ class.tag }}">
				<button type="submit" class="btn btn-primary">Add homeworks</button>

			</div>

		</div>

		{{ csrfInputs | raw }}

	</form>

</div>

<div id="hiddenItemListContainer" class="hidden">
	
	<a class="list-group-item">

		<span class="pull-right close removeItem" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</span>

		<select name="subjectId[]" class="selectpicker">
			{% for subject in subjects %}
				<option value="{{ subject.id }}">{{ subject.name }}</option>
			{% endfor %}
		</select>

		<textarea name="subjectHomework[]" class="form-control"></textarea>
	</a>

</div>

<script>
	
	$(".removeItem").click(function() {
		$(this).parent().remove();
	});

	var itemList = $("#hiddenItemListContainer").html();

	$("#addItemList").click(function() {

		$(this).before(itemList);

		$('.selectpicker').selectpicker({
			style: 'btn-default selectpicker',
			size: 4
		});

		$(".removeItem").click(function() {
			$(this).parent().remove();
		});

	});

</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.standalone.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>

<script>

$('.datepicker').datepicker({
	format: 'yyyy-mm-dd',
    autoclose: true
});

var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Ago", "Sep", "Ott","Nov", "Dec"];

$('.datepicker').on("changeDate", function() {
	var date = $(this).datepicker('getFormattedDate');
    $(this).find("#consignDate").val($(this).find("#consignDate").val());
	
	var datetime = $(this).datepicker("getDate");
	console.log(datetime)
	var day = datetime.getDate();
	var month = months[datetime.getMonth()];
	var year = datetime.getFullYear();
    $("#consignDateInfo").html(day + " " + month + " " + year);
});

$('.datepicker').datepicker("setDate", new Date());

</script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<script>
	
	$('.selectpicker').selectpicker({
		style: 'btn-default selectpicker',
		size: 4
	});


</script>