<div data-title="dayPanel" class="panel panel-default">
	
	<div class="panel-heading">
		<b>{{ day[0].consignDate | date("l") }}</b>
		<span class="pull-right">
			{{ day[0].consignDate | date("j") }}
			{{ day[0].consignDate | date("F") | slice(0, 3) }}
			{{ day[0].consignDate | date("Y") }}
		</span>
	</div>

	<div class="panel-body">

		<div class="list-group">

			{% for homework in day %}
				
				<span data-title="homeworkPanel" class="list-group-item list-group-item-default show-badge-on-hover">
					{% if info_userClass.isAdmin %}
						<form data-form="ajax" action="{{ path_for('homework.removeHomework') }}" method="POST" class="pull-right">
							<input name="homeworkId" type="hidden" value="{{ homework.id }}">
							<input name="classTag" type="hidden" value="{{ class.tag }}">
							<button class="badge btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
							{{ csrfInputs | raw }}
						</form>
					{% endif %}

					<h4 class="list-group-item-heading">
						{{ homework.subject }}
					</h4>
					<p class="list-group-item-text">
						{{ homework.description }}
					</p>
				</span>

			{% endfor %}

		</div>

	</div>

</div>

