<div data-title="dayPanel" class="panel panel-default">
	
	<div class="panel-heading">
		<b>{{ day[0].consignDate | date("l") }}</b>
		<span class="pull-right">
			{{ day[0].consignDate | date("j") }}
			{{ day[0].consignDate | date("F") | slice(0, 3) }}
			{{ day[0].consignDate | date("Y") }}
		</span>
	</div>

	<div class="panel-body">

		<div class="list-group">

			{% for homework in day %}

				{% set completed = (homework.id in completedHomeworks) ? true : false %}
				
				<span data-title="homeworkPanel" class="list-group-item list-group-item-{{ completed ? 'success' : 'default' }} show-badge-on-hover">

					{% if info_userClass.isAdmin %}

						<a data-form="removeHomework-ajax"
							class="badge"
							data-homework-id="{{ homework.id }}"
							data-class-tag="{{ class.tag }}">
							<span class="glyphicon glyphicon-trash"></span>
						</a>

					{% endif %}

					<a data-form="completeHomework-ajax"
						class="badge"
						style="display:{{ completed ? 'none' : 'auto' }}"
						data-homework-id="{{ homework.id }}"
						data-class-tag="{{ class.tag }}">
						<span class="glyphicon glyphicon-ok"></span>
					</a>

					<a data-form="uncompleteHomework-ajax"
						class="badge"
						style="display:{{ completed ? 'auto' : 'none' }}"
						data-homework-id="{{ homework.id }}"
						data-class-tag="{{ class.tag }}">
						<span class="glyphicon glyphicon-remove"></span>
					</a>

					<h4 class="list-group-item-heading">
						{{ homework.subject }}
					</h4>
					<p class="list-group-item-text">
						{{ homework.description }}
					</p>
				</span>

			{% endfor %}

		</div>

	</div>

</div>

