{% if flash.getMessage("info") %}

	<script type="text/javascript">-

		sweetAlert("{{ flash.getMessage('info') | first }}");

	</script>

	{# <div class="alert alert-info">
		{{ flash.getMessage("info") | first }}
	</div> #}

{% endif %}

{% if flash.getMessage("error") %}

	<script type="text/javascript">

		sweetAlert("Oops...", "{{ flash.getMessage('error') | first }}", "error");

	</script>

	{# <div class="alert alert-danger">
		{{ flash.getMessage("error") | first }}
	</div> #}

{% endif %}

{% if flash.getMessage("success") %}

	<script type="text/javascript">

		sweetAlert("Success", "{{ flash.getMessage('success') | first }}", "success");

	</script>

	{# <div class="alert alert-danger">
		{{ flash.getMessage("error") | first }}
	</div> #}

{% endif %}